---

---

<ul class="labeled-icons">
    <li>
        <h3 class="icon solid fa-home"><span class="label">Dirección</span></h3>
        Tulancingo, Hidalgo<br />
        México
    </li>
    <li>
        <h3 class="icon solid fa-mobile-alt"><span class="label">Teléfono</span></h3>
        +52 5586758648
    </li>
    <li>
        <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
        <a href="mailto:albertozarco57@gmail.com">albertozarco57@gmail.com</a>
    </li>
</ul>