---
// @ts-nocheck
const archivos = import.meta.glob('../mds/habilidades/*.md', { eager: true });
const habilidades = Object.values(archivos);
habilidades.sort((a, b) => a.frontmatter.orden - b.frontmatter.orden);
---

<section id="two">
    <h2>Habilidades Técnicas</h2>
    <p>Ecosistema de tecnologías y herramientas que uso.</p>
    
    <div class="row">
        {habilidades.map((hab) => {
            const Contenido = hab.Content;
            return (
                <div class="col-4 col-12-small">
                    <h3>
                        <span class={`icon solid ${hab.frontmatter.icon}`}></span>
                        {hab.frontmatter.title}
                    </h3>
                    <div><Contenido /></div>
                </div>
            );
        })}
    </div>
</section>