---
import Botoncambio from './botonCambio.astro';
---

<header id="header">
  <div class="inner">
    <h1>
      <strong>Alberto Rosario Zarco</strong><br />
      Técnico en Programación<br />
      y estudiante de Ingeniería en Tecnologías de la Información e Innovación Digital.<br />
    </h1>

    <Botoncambio />
  </div>
</header>