---
import Formularios from '../components/formularios.astro';
import ContactoInfo from '../components/contactoinfo.astro';
---

<section id="three">
    <h2>Ponte en contacto</h2>
    <p>¿Tienes un proyecto en mente? Envíame un mensaje y me pondré en contacto contigo.</p>
    <div class="row">
        <div class="col-8 col-12-small">
            <Formularios />
        </div>
        <div class="col-4 col-12-small">
            <ContactoInfo />
        </div>
    </div>
</section>