---
import Botoncv from '../components/botoncv.astro';
---




<section id="one">
    <header class="major">
        <h2>Desarrollador Full-Stack y Móvil<br />
        enfocado en crear soluciones eficientes.</h2>
    </header>
    <p>Soy estudiante de Ingeniería en Tecnologías de la Información e Innovación Digital y Técnico en Programación me gusta el desarrollo de software y disfruto transformar ideas en plataformas web y móviles funcionales e intuitivas.</p>
    <p>me gusta resolver problemas construyendo sistemas cuidando la arquitectura y la experiencia final del usuario me gusta aprender constantemente.</p>
    <p>Mi objetivo es integrarme a un entorno dinámico y colaborativo donde pueda aportar valor a los proyectos, perfeccionar mis habilidades y consolidar mi crecimiento en la industria.</p>
    
    <ul class="actions">
        <li><Botoncv /></li>
    </ul>
</section>