---
import Cardporta from '../components/cardPorta.astro';
---
<section id="two">
    <h2>Recent Work</h2>
    <div class="row">
        <Cardporta 
            imagenC="/images/fulls/01.jpg" 
            imagenM="/images/thumbs/01.jpg" 
            titulo="Magna sed consequat tempus" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
        <Cardporta 
            imagenC="/images/fulls/02.jpg" 
            imagenM="/images/thumbs/02.jpg" 
            titulo="Ultricies lacinia interdum" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
        <Cardporta  
            imagenC="/images/fulls/01.jpg" 
            imagenM="/images/thumbs/01.jpg" 
            titulo="Magna sed consequat tempus" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
        <Cardporta 
            imagenC="/images/fulls/02.jpg" 
            imagenM="/images/thumbs/02.jpg" 
            titulo="Ultricies lacinia interdum" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
        <Cardporta 
            imagenC="/images/fulls/03.jpg" 
            imagenM="/images/thumbs/03.jpg" 
            titulo="Tortor metus commodo" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
        <Cardporta 
            imagenC="/images/fulls/04.jpg" 
            imagenM="/images/thumbs/04.jpg" 
            titulo="Quam neque phasellus" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
        <Cardporta 
            imagenC="/images/fulls/05.jpg" 
            imagenM="/images/thumbs/05.jpg" 
            titulo="Nunc enim commodo aliquet" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
        <Cardporta 
            imagenC="/images/fulls/06.jpg" 
            imagenM="/images/thumbs/06.jpg" 
            titulo="Risus ornare lacinia" 
            descripcion="Lorem ipsum dolor sit amet nisl sed nullam feugiat." 
        />
    </div>
    <ul class="actions">
        <li><a href="#" class="button">Full Portfolio</a></li>
    </ul>
</section>