---
import Cardporta from '../components/cardPorta.astro';
import { misProyectos } from '../utils/datosporta.js';
---
<section id="two">
    <h2>Proyectos Destacados</h2>
    <div class="row">
        {misProyectos.map((proyecto) => (
            <Cardporta 
                imagenC={proyecto.imagenC} 
                imagenM={proyecto.imagenM} 
                titulo={proyecto.titulo} 
                descripcion={proyecto.descripcion} 
            />
        ))}
    </div>
    <ul class="actions">
        <li><a href="#" class="button">Portafolio</a></li>
    </ul>
</section>